
// - - - - - - - - - - - - - - - - - - -
// - - Explainer 
.explainer {
    background-position: 0 35%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em 0;
    .button {

        &:hover {
            color: $blue;
        }
    }
}

.explainer__content {

}
.explainer-gray {
    background-color: $dark-gray;
    color: white;
    .button {
        color: white;
        border-color: white;
    }
}
.explainer__blue {
    background-color: $blue;
    color: white;
    .button {
        color: white;
        border-color: white;
    }
}
.explainer__right {
    text-align: right;
}