.wrapper-content {
    padding: 4.5em 0 3.4em 0;
    display: inline-block;
    width: 100%; // TODO media-query to over-ride
    background-color: #3498DB;
}

.wrapper-content h2 {
    text-align: center;
    color: #ECF0F1;
}

.features-images {
    display: block;
    float: left;
    width: 690px; // TODO media-query this size is macbook + iPHone
}

.features-text {
    display: block;
    float: right;
    width: 900px;
    margin: 3em 0 0 0;
}

// Devices and screens.
.device {
    float: left;
    position: relative;
}

.device>img {
    width: 100%;
}

img {
    vertical-align: top;
}

.screen {
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.device.screen img {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity .3s ease-out;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.device.macbook {
    z-index: 1;
    width: 825px;  // TODO media-query for smaller screens
    margin: 0 -425px 0 -100px; //TODO media-query will need to change the -100px position for smaller screens
}

.device.macbook .screen {
   left: 99px; // TODO media-query for smaller screens
   top: 28px; // TODO media-query for smaller screens
   width: 623px; //TODO media-query for smaller screens
   height: 389px; // TODO media-queryfor smaller screens
}

.device.iphone {
  z-index: 2;
  width: 212px; // TODO media-query for smaller screens
  margin: 90px 0 0 178px;
}

.device.iphone .screen {
  left: 19px; // TODO media-query for smaller screens
  top: 51px; // TODO media-query for smaller screens
  width: 175px; // TODO media-query for smaller screens
  height: 311px; // TODO media-query for smaller screens
}

#iphone-image {
    width:200px;
    height:200px;
    border: thin black solid;
}


/* Show | Hide Images */
.hidden {
  display: none;
}

#toggle-default:hover ~ .features-images .device.iphone .screen #iphone-default {
    display: block;
}

#toggle-badges:hover ~ .features-images .device.iphone .screen #iphone-badges {
    display: block;
}

#toggle-help:hover ~ .features-images .device.iphone .screen #iphone-default {
    display: block;
}


// Text Featueres
.features-text ul li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 2.5em 0 0 0;
}

.features-text ul li a {
  display: block;
  position: relative;
  padding-left: 3.8em;
  outline: 0;
  text-decoration: none;
}

.feature {
   color: #0E6A99;
}
.feature:hover p, .feature:hover h3 {
    color: #ECF0F1;
}


.features-text ul li a h3 {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;  // NOTE: I don't know where this margin is comming from?
}

.features-text ul li a p {
  font-size: 1em;
  line-height: 1.4em;
  font-weight: normal;
  margin: 0px;  // NOTE: I don't know where this margin is comming from?
}

.feature-icon {
  float: left;
  margin: 0 5px 0 0;
}
