.wrapper-content {
    padding: 4.5em 0 3.4em 0;
    display: inline-block;
    width: 100%; // TODO media-query to over-ride
    background-color: #3498DB;
}

.wrapper-content h2 {
    text-align: center;
    color: #ECF0F1;
}

// Devices and screens.
.features-images {
    position: relative;
    top: -400px; // NOTE This is a work-arround-due to the limitations with CSS selector. Text can't be in a flex-box.
    display: block;
    float: left;
    width: 690px; // TODO media-query this size is macbook + iPHone
}

.device {
    float: left;
    position: relative;
}

.device>img {
    width: 100%;
}

img {
    vertical-align: top;
}

.screen {
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.device.screen img {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity .3s ease-out;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.device.macbook {
    z-index: 1;
    width: 825px;  // TODO media-query for smaller screens
    margin: 0 -425px 0 -100px; //TODO media-query will need to change the -100px position for smaller screens
}

.device.macbook .screen {
   left: 99px; // TODO media-query for smaller screens
   top: 28px; // TODO media-query for smaller screens
   width: 623px; //TODO media-query for smaller screens
   height: 389px; // TODO media-queryfor smaller screens
}

.device.iphone {
  z-index: 2;
  width: 212px; // TODO media-query for smaller screens
  margin: 90px 0 0 178px;
}

.device.iphone .screen {
  left: 19px; // TODO media-query for smaller screens
  top: 51px; // TODO media-query for smaller screens
  width: 175px; // TODO media-query for smaller screens
  height: 311px; // TODO media-query for smaller screens
}

#iphone-image {
    width:200px;
    height:200px;
    border: thin black solid;
}


/* Show | Hide Images */
.hidden {
  display: none;
}
// Personalized
#toggle-personalized:hover ~ .features-images .device.iphone .screen #iphone-linear {
    display: block;
}
// Badges
#toggle-badges:hover ~ .features-images .device.iphone .screen #iphone-badges {
    display: block;
}
// Help
#toggle-help:hover ~ .features-images .device.iphone .screen #iphone-help {
    display: block;
}
// Common Core Standards
#toggle-standards:hover ~ .features-images .device.iphone .screen #iphone-standards {
    display: block;
}
#toggle-standards:hover ~ .features-images .device.macbook .screen #macbook-standards {
    display: block;
}
// Reports
#toggle-reports:hover ~ .features-images .device.macbook .screen #macbook-reports {
    display: block;
}
#toggle-reports:hover ~ .features-images .device.iphone .screen #iphone-reports {
    display: block;
}
// More Math:  Courses
#toggle-more-math:hover ~ .features-images .device.iphone .screen #iphone-more-math {
    display: block;
}
#toggle-more-math:hover ~ .features-images .device.macbook .screen #macbook-more-math {
    display: block;
}

// Fade effect
.fade {
     opacity: 0.8;
     transition: opacity .25s ease-in;
     -moz-transition: opacity .25s ease-in;
     -webkit-transition: opacity .25s ease-in;
}

.fade:hover {
    opacity: 1;
}

// Text Featueres
.features-text {
    position: relative;
    display: block;
    float: right;
    width: 900px;
    padding: 0;
}

.features-text h3 {
  color: #0E6A99;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;  // NOTE: I don't know where this margin is comming from?
}

.features-text p {
  color: #0E6A99;
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0px;  // NOTE: I don't know where this margin is comming from?
  max-width: 500px;
}

.feature-icon {
  position: relative;
  left: -28px;
  top: 33px;
  width: 20px;
}

// Hover Effects
.features-text:hover p {
    color: #ECF0F1;
}
.features-text:hover svg {
    fill: #ECF0F1;
}
.features-text:hover h3 {
    color: black;
}
