.large-image {
  min-width: 500px;
  margin: 1em;
  max-width: 500px;
  // align-self: flex-start;

}

.large-image img {
  vertical-align: top;
}

.medium-image {
  min-width: 400px;
  margin: 1em;
  max-width: 400px;
}

.snmall-image {
  min-width: 100px;
  margin: 1em;
  max-width: 100px;
}

.learn-explainer {
  font-size: 1.2em;
  padding: 1em;
}

.learn-explainer p {
  vertical-align: top;
}

.list {
  margin-left: 2em;
}

.youtube-frame {
  width: 500px;
  height: 281px;
}
