.ardormathimage {
  //max-height: 200px;
  //max-width: 200px;
  float: left;
  width:100%;
  height:auto;
  display:block;
  z-index: 100;
}

.amathfeaturelist {
  list-style: none;
}

.amathimage {
  @include span-columns(4);
}

.feature {
  @include outer-container;
  // Padding removed for no image.
  //padding-top: 0em;

}

// Title landing page elemements
#title-area {
  padding: 0;
  margin: 0;
  list-style: none;


}

#first-title-area {
  padding: auto;
  width: 100%;
  height: auto;
  margin-top: 10px;
  font-weight: lighter;

  display: flex;
  align-items: stretch;
  justify-content: left;
  justify-items: left;
  -webkit-flex-flow: row wrap;
}

#second-title-area {
  padding: 5px;
  height: auto;
  min-width: 200px;
  margin-top: 30px;

  color: white;
  text-align: center;
}

#sub-title-area {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#sub-area {
  padding: auto;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 400px;
}

#sub-area a {
  color: white;
}

.line-through{ 
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}
.free {
  font-weight: bolder;
}

.price {
    font-size: 1em;
    margin-bottom: 0em;
}

.sign-up{
    align-items: center;
    font-size: 0.8em;
}

.courses-available{
    margin: 0px;
}

.title-image {
  margin-top: 5em;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 600px;
  z-index: 100;
}
.phone-image {
  align-self: center;
  width: 100%;
  min-width: 300px;
  max-height: 600px;
  z-index: 100;
}
