.ardormathimage {
  //max-height: 200px;
  //max-width: 200px;
  float: left;
  width:100%;
  height:auto;
  display:block;
  z-index: 100;
}

.amathfeaturelist {
  list-style: none;
}

.amathimage {
  @include span-columns(4);
}

.feature {
  @include outer-container;
  padding-top: 20em;

}

.feature-left {
  @include span-columns(10);
  margin-top: 10em;
  margin-left: 2em;
  margin-right: 2em;
}
