// all heros start from somewhere...

.hero {
    $hero-background: white; //#e6f0f4; //$dark-gray;
    $hero-color: black; // #333333; // This is the title subtext.

    background: $hero-background;
    color: $hero-color;
    position: relative;

    .hero__content {
        color: $hero-color;
        text-align: center;
        padding-top: 6em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        margin: auto;
        text-align: center;
        position: relative;

        // tablet view
        @include media($tablet) {
            padding: 5em 1em 5em 1em;
        }

        // mobile view
        @include media($mobile) {
            padding: $mobile-padding-large;
        }
    }
    .hero__content p {
      color: white;
      mix-blend-mode: difference;
    }

    .hero__content--short {
        padding: 15em 0 12em;

        .hero__title {
            text-align: center;
            font-size: 2.8em;
            //padding: 1em;

            // mobile view
            @include media($mobile) {
                font-size: $mobile-title-size;
            }
        }
        .hero__title_transformative {
            color: white;
            font-size: 2.8em;
            padding: 1em;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
            text-shadow:
                    3px 3px 0 black,
                    -1px -1px 0 black,
                    1px -1px 0 black,
                    -1px 1px 0 black,
                    1px 1px 0 black;

            // mobile view
            @include media($mobile) {
                font-size: $mobile-title-size;
            }
        }

        // mobile view
        @include media($mobile) {
            padding: $mobile-padding-large;
        }
        .hero__feature__title {
            color: black;
            font-size: 2.8em;
            //padding: 1em;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: white;
            text-shadow:
                    3px 3px 0 #000,
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

            // mobile view
            @include media($mobile) {
                font-size: $mobile-title-size;
            }
        }

        // mobile view
        @include media($mobile) {
            padding: $mobile-padding-large;
        }
        .hero__text {
            color: black;
            font-size: 1.8em;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: white;
            text-shadow:
                    3px 3px 0 #000,
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

            // mobile view
            @include media($mobile) {
                font-size: $mobile-title-size;
            }
        }

        // mobile view
        @include media($mobile) {
            padding: $mobile-padding-large;
        }
    }
    .hero__text {
        color: black;
        font-size: 1.5em;
        margin-bottom: 0.5em;
        //padding: 1em;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
        text-shadow:
                3px 3px 0 white,
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;

        // tablet view
        @include media($tablet) {
            font-size: 1.2em;
        }

        // mobile view
        @include media($mobile) {
            font-size: $mobile-title-size;
        }
    }

    .hero__feature__title {
        color: black;
        font-size: 2.2em;
        margin-bottom: 0.5em;
        //padding: 1em;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
        text-shadow:
                3px 3px 0 white,
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;

        // tablet view
        @include media($tablet) {
            font-size: 1.2em;
        }

        // mobile view
        @include media($mobile) {
            font-size: $mobile-title-size;
        }
    }


    .hero__title {
        color: white;
        font-size: 2.2em;
        margin-bottom: 0.5em;
        padding: 1em;

        // tablet view
        @include media($tablet) {
            font-size: 1.2em;
        }

        // mobile view
        @include media($mobile) {
            font-size: $mobile-title-size;
        }
    }
    .hero__title_transformative {
        color: white;
        font-size: 2.2em;
        margin-bottom: 0.5em;
        padding: 1em;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        text-shadow:
                3px 3px 0 black,
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;

        // tablet view
        @include media($tablet) {
            font-size: 1.2em;
        }

        // mobile view
        @include media($mobile) {
            font-size: $mobile-title-size;
        }
    }

    .hero__byline {
        font-weight: 300;
        font-size: 2em;
        max-width: 25em;
        margin: auto;
        line-height: 1.4;

        // tablet view
        @include media($tablet) {
            font-size: 1.5em;
        }

        // mobile view
        @include media($mobile) {
            font-size: $mobile-byline-size;
            font-weight: 400;
            padding: 0 1em;
        }
    }

    .hero__summary {
        font-weight: 800;
        font-size: 1.8em;
        margin: auto;
        line-height: 2em;

        // tablet view
        @include media($tablet) {
            font-size: 1.2em;
        }

        // mobile view
        @include media($mobile) {
            font-size: 1em;
        }
    }
    .hero__summary_transformative {
        font-size: 1.4em;
        font-weight: bold;
        max-width: 38em;
        margin: auto;
        line-height: 1.7;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;

        // mobile view
        @include media($mobile) {
            font-size: $mobile-byline-size;
        }
    }


    // effects
    &.hero--tint:before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0,0,0, 0.6);
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        // z-index: 1;
    }

    // homepage
    &.hero--home {
        // $hero-image: '../assets/images/bg/home-landing-page.png';
        // @include background(url($hero-image) no-repeat center center scroll);
        background: url(./../assets/images/hero/kids-hanging-out.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        width: 100vw;
        height: 100vh;
        // max-width: 100%;
        // background-color:  $hero-background;
        // background-position: top;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    // about
    &.hero--about {
        $hero-image: '../assets/images/bg/about.jpg';
        @include background(url($hero-image) no-repeat center center scroll);
        max-width: 100%;
        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // team
    &.hero--team {
        $hero-image: '../assets/images/bg/HawthorneBridge-Pano.jpg';
        @include background(url($hero-image) no-repeat center center scroll);
        overflow: hidden;
        max-width: 100%;
        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

    }

    // contact
    &.hero--contact {
        $hero-image: '../assets/images/bg/contact.png';
        @include background(url($hero-image) no-repeat center center scroll);
        max-width: 100%;
        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // ardormath
    &.hero--ardormath {
        $hero-image: '../assets/images/bg/amath-landing-page.png';
        @include background(url($hero-image) no-repeat scroll);
        max-width: 100%;
        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &.hero--ardormath-showcase-generation {
        //$hero-image: '../assets/images/bg/amath-showcase-teacher.png';
        //@include background(url($hero-image) no-repeat scroll);
        background-color:  $hero-background;
        //max-width: 100%;
        //background-position: top;
        //background-repeat: no-repeat;
        //background-size: cover;
    }
    &.hero--ardormath-showcase-help {
        //$hero-image: '../assets/images/bg/amath-showcase-student.png';
        //@include background(url($hero-image) no-repeat scroll);
        background-color:  $hero-background;
        //max-width: 100%;
        //background-position: top;
        //background-repeat: no-repeat;
        //background-size: cover;
    }
    &.hero--ardormath-showcase-tracking {
        //$hero-image: '../assets/images/bg/amath-showcase-help.png';
        //@include background(url($hero-image) no-repeat scroll);
        background-color:  $hero-background;
        //max-width: 100%;
        //background-position: top;
        //background-repeat: no-repeat;
        //background-size: cover;
    }

    // not found
    &.hero--not-found {
        a {
            color: #fff;
            font-weight: 600;
            text-decoration: underline;
        }

        //TODO: generic inverse button
        .button {
            color: white;
            text-decoration: none;
            border-color: white;
            margin-top: 4em;

            &:hover {
                background-color: white;
                color: $dark-gray;
            }
        }
    }
}

.summary-link{
    color: white;

}
a:hover .summary-link {
    text-decoration: underline;
    color: $dark-gray;
}
