.testimonial-wrapper {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.testimonial-container {
    margin: 20px;
    max-width: 400px;
}

.sub-title {
    align-self: center;
    font-size: 0.6em;
    font-weight: 400;
}

.center-text {
    text-align: center;
}
