---
layout: default
---

  <!-- Hero
  ================================================== -->
<article class="hero hero--home">
    <div class="hero__content">
        <h2 class="hero__title">{{ site.frontPage.title }}</h2>
        <p class="hero__summary">{{ site.frontPage.summary }}</p>
    </div>
</article>

<article class="hero hero--about">
    <div class="hero__content hero__content--short">
        <h2 class="hero__title_transformative">{{ site.about.title }}</h2>
        <p class="hero__summary_transformative">{{ site.about.summary }}</p>
    </div>
</article>

  <!-- Contact Us
  ================================================== -->
<section class="convo">
    <div class="convo__content">
        <h2>Transformation begins with conversation</h2>
        <p>If you are a teacher, student, or advocate of education - we would love to hear from you.</p>
        <a href="{{ site.baseurl }}/contact" class="button button--outline">Contact Us</a>
        <a href="{{ site.baseurl }}/contact#newsletter" class="button button--outline">Follow Us</a>
    </div>
</section>
