---
layout: default
---

  <!-- Hero
  ================================================== -->
<article class="hero hero--home">
    <!-- <img class="landing-image" src="./../assets/images/ardormath/iPad/slope-triangle-white.png"> -->
    <div class="hero__content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IDqDQsIgLO0" frameborder="0" allowfullscreen></iframe>
        <br>
        <p>Grade 8 and Algebra 1 Available Now.</p>
        <a href="http://accounts.ardoreducation.com" class="button button--outline">Sign Up</a><br>
        <a href="http://us11.campaign-archive1.com/?u=e0d8362a03edb98f9391ddcd5&id=70b25c4272">Learn more</a>
        <p>
            <a href="https://itunes.apple.com/us/app/ardor-math/id953832689?ls=1&mt=8"><img class="app-store-badge" src="./../assets/images/logo/App_Store_Badge.svg"></a>
            <a href="https://play.google.com/store/apps/details?id=com.ardor.algebradojo"><img class="app-store-badge" src="./../assets/images/logo/play-store-badge.png"></a>
        </p>
    </div>
</article>


  <!-- Explanar
  ================================================== -->
<article class="explanar">
  <div class="explanar__content">
      <img class="explanar-computer" src="./../assets/images/explanar/computer_drawing.png" width="378" align="right">
      <h2>Step 1 <br> Setup your Dashboard</h2>
      <p>
        Create courses from the dashboard; courses contain enrollment codes you will share with your students.
      </p>
      <a href="http://accounts.ardoreducation.com" class="button button--outline">Sign Up</a>
  </div>
</article>
<article class="explanar2">
  <div class="explanar__content2">
      <img class="explanar-iPad" src="./../assets/images/explanar/iPad_drawing.png" width="378" align="left">
      <h2>Step 2 <br> Get the Ardor Math App</h2>
      <p>
        Download Ardor Math for
        <a href="https://itunes.apple.com/us/app/ardor-math/id953832689?ls=1&mt=8">iOS </a>
        and <a href="https://play.google.com/store/apps/details?id=com.ardor.algebradojo">Android</a>.
        Students will create accounts and enter the enrollment code you gave them.
      </p>
      <p>
          <a href="https://itunes.apple.com/us/app/ardor-math/id953832689?ls=1&mt=8"><img class="app-store-badge" src="./../assets/images/logo/App_Store_Badge.svg"></a>
          <a href="https://play.google.com/store/apps/details?id=com.ardor.algebradojo"><img class="app-store-badge" src="./../assets/images/logo/play-store-badge.png"></a>
      </p>
  </div>
</article>
  <!-- Contact Us
  ================================================== -->
<section class="convo">
    <div class="convo__content">
        <a name="conversation"></a>
        <h2>Transformation begins with conversation</h2>
        <p>If you are a teacher, student, or advocate of education - we would love to hear from you.</p>
        <a href="{{ site.baseurl }}/contact" class="button button--outline">Contact Us</a>
        <a href="{{ site.baseurl }}/contact#newsletter" class="button button--outline">Follow Us</a>
    </div>
</section>
