---
layout: default
---

  <!-- Hero
  ================================================== -->
<article class="hero hero--home">
    <!--  -->
    <div class="hero__content">
        <div id="title-area">
            <div id="first-title-area">
                <img class="title-image" src="./../assets/images/landing/title.png">
                <br>
                <p class="price">$14.99/mo or $99/yr</p>
                <div class="sign-up">
                    <a href="http://accounts.ardoreducation.com" class="button button">Start your 30-day free trial</a><br>
                    <p>Change or cancel at anytime.</p>
                </div>
            </div>
            <div id="second-title-area">
                <img class="phone-image" src="./../assets/images/landing/product-landing.png">
            </div>
        </div>
        <div id="sub-title-area">
            <div id="sub-area">
                <div class="badge-area">
                    <a href="https://itunes.apple.com/us/app/ardor-math/id953832689?ls=1&mt=8">
                        <img class="app-store-badge" src="./../assets/images/logo/App_Store_Badge.svg">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.ardor.algebradojo">
                        <img class="app-store-badge" src="./../assets/images/logo/play-store-badge.png">
                    </a>
                    <p>
                        <a href="https://support.google.com/chromebook/answer/7021273?hl=en">Andriod for Chromebooks</a>
                    </p>
                </div>
                <p>

                </p>
                <p class="courses-available">Grade 7, 8, Algebra 1, and Geometry [
                  <a href="mailto:contact@ardoreducation.com?Subject=Request%20Math%Course" target="_top">Request a Course</a>
                  ]</p>
                <p>
                    <a href="#explainer">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</article>

<!-- Features Content
================================================== -->
<div class="wrapper-content">

    <h2>Ardor Math Features</h2>
    <!---

  -->

    <a id="toggle-default" class="features-text">
        <svg
            class="feature-icon"
            fill="#0E6A99"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 14 14">
            <path d="M14 5.547v6.203q0 0.516-0.367 0.883t-0.883 0.367h-11.5q-0.516 0-0.883-0.367t-0.367-0.883v-6.203q0.344 0.383 0.789 0.68 2.828 1.922 3.883 2.695 0.445 0.328 0.723 0.512t0.738 0.375 0.859 0.191h0.016q0.398 0 0.859-0.191t0.738-0.375 0.723-0.512q1.328-0.961 3.891-2.695 0.445-0.305 0.781-0.68zM14 3.25q0 0.617-0.383 1.18t-0.953 0.961q-2.937 2.039-3.656 2.539-0.078 0.055-0.332 0.238t-0.422 0.297-0.406 0.254-0.449 0.211-0.391 0.070h-0.016q-0.18 0-0.391-0.070t-0.449-0.211-0.406-0.254-0.422-0.297-0.332-0.238q-0.711-0.5-2.047-1.426t-1.602-1.113q-0.484-0.328-0.914-0.902t-0.43-1.066q0-0.609 0.324-1.016t0.926-0.406h11.5q0.508 0 0.879 0.367t0.371 0.883z" ></path>
        </svg>
        <h3>Show Default</h3>
        <p>This will show default feature screen shots. Pretty cool stuff! </P>
    </a>
    <a id="toggle-help" class="features-text">
        <svg
            class="feature-icon"
            fill="#0E6A99"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 14 14">
            <path d="M14 5.547v6.203q0 0.516-0.367 0.883t-0.883 0.367h-11.5q-0.516 0-0.883-0.367t-0.367-0.883v-6.203q0.344 0.383 0.789 0.68 2.828 1.922 3.883 2.695 0.445 0.328 0.723 0.512t0.738 0.375 0.859 0.191h0.016q0.398 0 0.859-0.191t0.738-0.375 0.723-0.512q1.328-0.961 3.891-2.695 0.445-0.305 0.781-0.68zM14 3.25q0 0.617-0.383 1.18t-0.953 0.961q-2.937 2.039-3.656 2.539-0.078 0.055-0.332 0.238t-0.422 0.297-0.406 0.254-0.449 0.211-0.391 0.070h-0.016q-0.18 0-0.391-0.070t-0.449-0.211-0.406-0.254-0.422-0.297-0.332-0.238q-0.711-0.5-2.047-1.426t-1.602-1.113q-0.484-0.328-0.914-0.902t-0.43-1.066q0-0.609 0.324-1.016t0.926-0.406h11.5q0.508 0 0.879 0.367t0.371 0.883z" ></path>
        </svg>
        <h3>Show Help</h3>
        <p>This will show all the cool help featueres</p>
    </a>
    <a id="toggle-badges" class="features-text">
        <svg
            class="feature-icon"
            fill="#0E6A99"
            version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 14 14">
            <path d="M14 5.547v6.203q0 0.516-0.367 0.883t-0.883 0.367h-11.5q-0.516 0-0.883-0.367t-0.367-0.883v-6.203q0.344 0.383 0.789 0.68 2.828 1.922 3.883 2.695 0.445 0.328 0.723 0.512t0.738 0.375 0.859 0.191h0.016q0.398 0 0.859-0.191t0.738-0.375 0.723-0.512q1.328-0.961 3.891-2.695 0.445-0.305 0.781-0.68zM14 3.25q0 0.617-0.383 1.18t-0.953 0.961q-2.937 2.039-3.656 2.539-0.078 0.055-0.332 0.238t-0.422 0.297-0.406 0.254-0.449 0.211-0.391 0.070h-0.016q-0.18 0-0.391-0.070t-0.449-0.211-0.406-0.254-0.422-0.297-0.332-0.238q-0.711-0.5-2.047-1.426t-1.602-1.113q-0.484-0.328-0.914-0.902t-0.43-1.066q0-0.609 0.324-1.016t0.926-0.406h11.5q0.508 0 0.879 0.367t0.371 0.883z" ></path>
        </svg>
        <h3>Show Badges</h3>
        <p>This will show all the cool badge features</p>
    </a>
    <!-- Product Images -->
    <div class="features-images">
        <div class="device macbook">
            <img src="./../assets/images/product_features/macbook.png">
            <div class="screen">
                <img id="macbook-default" src="./../assets/images/product_features/macbook-screen.png">
                <!-- Add more screens here. -->
            </div>
        </div>
        <div class="device iphone">
            <img src="./../assets/images/product_features/iphone.png">
            <div class="screen" >
              <img class="hidden" id="iphone-default" src="./../assets/images/product_features/iphone-screen.png">
              <img class="hidden" id="iphone-badges" src="./../assets/images/product_features/iphone-screen-badges.jpg">
              <img class="hidden" id="iphone-help" src="./../assets/images/product_features/help.png">

                <!-- Add more screens here. -->
             </div>
        </div>
    </div>

</div>
  <!-- Explanar
  ================================================== -->
<article class="explainer">
  <div class="explainer__content">
      <img class="explainer-computer" src="./../assets/images/explanar/computer_drawing.png" width="378" align="right">
      <h2>Step 1 <br> Setup your Dashboard</h2>
      <p>
        Create courses from the dashboard; courses contain enrollment codes you will share with your students.
      </p>
      <a href="http://accounts.ardoreducation.com" class="button button--outline">Sign Up</a>
      <a href="http://us11.campaign-archive1.com/?u=e0d8362a03edb98f9391ddcd5&id=70b25c4272" class="button button--outline">Quick Start Guide</a>
  </div>
</article>
<article class="explainer2">
  <div class="explainer__content2">
      <img class="explainer-iPad" src="./../assets/images/explanar/iPad_drawing.png" width="378" align="left">
      <h2>Step 2 <br> Get the Ardor Math App</h2>
      <p>
        Download Ardor Math for
        <a href="https://itunes.apple.com/us/app/ardor-math/id953832689?ls=1&mt=8">iOS </a>
        and <a href="https://play.google.com/store/apps/details?id=com.ardor.algebradojo">Android</a>.
        Students will create accounts and enter the enrollment code you gave them.
      </p>
      <p>
          <a href="https://itunes.apple.com/us/app/ardor-math/id953832689?ls=1&mt=8"><img class="app-store-badge" src="./../assets/images/logo/App_Store_Badge.svg"></a>
          <a href="https://play.google.com/store/apps/details?id=com.ardor.algebradojo"><img class="app-store-badge" src="./../assets/images/logo/play-store-badge.png"></a>
      </p>
      <p>
          <a href="https://support.google.com/chromebook/answer/7021273?hl=en">Learn more</a> about Andriod Apps for Chromebooks.
      </p>
  </div>
</article>

<!-- Three Key Messeges
================================================== -->
<a name="explainer"></a>
<article class="hero hero--home">
  <div class="hero__content">
    <h2>Eliminate learning lag with real time monitoring, correction and support</h2>
    <p>
        Normally student work is reviewed and corrected days after completion
        while new math instruction marches on. Often this results in incomplete
        or incorrect student understanding. Ardor
        provides real time corrective feedback and support alleviating student
        frustration and reinforcing good habits. Real time monitoring helps
        teachers target individual needs fast so students stay on track.
      </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/03mho_f5gpc" frameborder="0" allowfullscreen></iframe>
    <p>
        <a href="https://accounts.ardoreducation.com">Sign up for a free trial.</a>
    </p>
  </div>
</article>

<article class="hero hero--home">
  <div class="hero__content">
    <h2>Unlimited Differentiated Practice</h2>
      <p>
        Unique, tailored, adaptive, progressive practice.
        Unique problem sets and support generated based on students progress and
        needs every time in real time. Adjusts to students’ knowledge, skills,
        from remedial to “bored” advanced students. Students can practice
        anytime on their own mobile device. Endless individual practice sets.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uG281EkG-Fg" frameborder="0" allowfullscreen></iframe>
      <p>
          <a href="https://accounts.ardoreducation.com">Sign up for a free trial.</a>
      </p>
  </div>
</article>

<article class="hero hero--home">
  <div class="hero__content">
    <h2>Focus on teaching not busywork</h2>
      <p>
          No copies. No paper. No grading. Real time individual results
          highlight areas for teacher help. Saves your time and allows you to
          focus on student specific needs. Speed up or slow down class progress
          to match their understanding and mastery.
      </p>
      <img src="./../assets/images/ardormath/Teacher-View.png" width="600">
      <p>
          <a href="https://accounts.ardoreducation.com">Sign up for a free trial.</a>
      </p>
  </div>
</article>

  <!-- Contact Us
  ================================================== -->
<section class="convo">
    <div class="convo__content">
        <a name="conversation"></a>
        <h2>Transformation begins with conversation</h2>
        <p>If you are a teacher, student, or advocate of education - we would love to hear from you.</p>
        <a href="{{ site.baseurl }}/contact" class="button button--outline">Contact Us</a>
        <a href="{{ site.baseurl }}/contact#newsletter" class="button button--outline">Follow Us</a>
    </div>
</section>
